<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/doc_app.css' %}">
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2 class="logo">MediLab Hospital</h2>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home'%}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'doc_app'%}">Appointment</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'service'%}">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact'%}">Contact Us</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <header>
            <div class="user-info">
                <h4>MediLab Hospital</h4>
                
            </div>
        </header>

        <section class="appointment-management">
            <h3>Appointment Management</h3>

            <div class="form-container">
                <button class="btn btn-dark">Generate Report</button>
                <input type="text" placeholder="ID">
                <button class="btn btn-warning">Search</button>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="id_patient">Patient Name:</label>

                        {{ form.patient_name }}
           
                    </div>
                   
                   
                </div>

                <div class="row">
                    <div class="col">
                        <label for="id_email">Email:</label>

                        {{ form.email }}
                    </div>
                    <div class="col">


                        <label for="id_phone_number">Mobile Number:</label>

                        {{ form.phone_number }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="id_age">Age:</label>

                        {{ form.age }}
                    </div>
                    <div class="col">
                        <label for="id_date">Date:</label>

                        {{ form.date }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="id_gender">Gender:</label>

                        {{ form.gender }}
                    </div>
                
                    <div class="col">

                        <label for="id_time">Time:</label>

                        {{ form.time }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                       
                        <label for="id_doctor_name">Doctor Name:</label>

                        {{ form.doctor_name }}
                    </div>
                    <div class="col">
                        
                        <label for="id_doctor_dep">Specialization:</label>

                        {{ form.doctor_dep }}
                    </div>
                </div>

                <label for="id_doctor">Address:</label>

                {{ form.address }}
                
                    <button type="submit" class="btn btn-primary">Book Appointment</button>
              
            </form>
        </section>          
      
        <!-- <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Book Appointment</button>
        </form> -->

        <section class="appointment-table">
            <h3>Recent Appointments</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>NIC</th>
                    <th>DOB</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Madhusha</td>
                    <td>Doctor</td>
                    <td>Male</td>
                    <td>madhusha@gmail.com</td>
                    <td>078-6642616</td>
                    <td>86202626</td>
                    <td>1999-04-13</td>
                    <td class="online">Online</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Madhusha</td>
                    <td>Doctor</td>
                    <td>Male</td>
                    <td>madhusha@gmail.com</td>
                    <td>078-6642616</td>
                    <td>1616161</td>
                    <td>1999-04-13</td>
                    <td class="online">Online</td>
                </tr>
            </table>
        </section>
        {% include "footer.html" %}
    </div>
  

  
</body>
</html>
