{% extends "base.html" %}
{% block body %}


<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
    <h2 class="text-center">Order Successful</h2>
	<br>
	<div class="text-center">
		<a href="{% url 'store'%}" class="btn btn-success">Shop more</a>
	</div>
</div>

<div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img src="/images/logo.png" alt="Invoice logo" style="max-height: 40px;"></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled ">
                                    <p>Thank you for your order, {{ user.first_name }}!</p>
                                    <h5>Shipping Address:</h5>
                                  
                                      
                                    </p>
                                    <li><strong>Invoiced To</strong></li>
                                    <li> <strong>Name:</strong>{{ address.first_name }} {{ address.last_name }}</li>
                                    <li>
                                      <strong>Home:</strong>
                                        {% if address.address_line_2 %}{{ address.address_line_2 }}{% endif %}
                                       <br>
                                       <strong>Country:</strong> {{ address.country }}</li>
                                        <li>   <strong> Email:</strong>{{ address.email }}</li>
                                    <li> <strong>Phone:</strong>  {{ address.phone }}</li>
                                    <li> {{ address.city }}, {{ address.state }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details ">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        
                                        <li><strong>Order</strong> #</li>
                                        <li><strong>Transaction</strong> #</li>
                                        <li><strong>Order Date:</strong> Monday, October 10th, 2015</li>
                                        <li><strong>Status:</strong> PAID</li>
                                    </ul>
                                </div>
                            </div>
                           
                            <div class="invoice-items">
                                <div class="table-responsive" >
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Description</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in cart_items %}
                                            <tr>
                                                <td>{{ item.jersi.name }}</td>
                                                <td class="text-center">{{ item.quantity  }}</td>
                                                <td class="text-center"> {{ item.quantity  }} X {{ item.jersi.price   }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total:</th>
                                                <th class="text-center">{{ total_price }}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Tax:</th>
                                                <th class="text-center">{{ tax }}</th>
                                            </tr>
                                            
                                            <tr>
                                                <th colspan="2" class="text-right">Grand Total:</th>
                                                <th class="text-center">{{ total_price_with_tax }}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center">Thank you for shopping with us!</p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    </div>

{% endblock body %}





